{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 80,
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "auto",
    "bracketSpacing": true,
    "proseWrap": "preserve"
}
